.navigation {
    display: flex; inline-size: 100%;
    flex-direction: row;
    justify-content: flex-end   ;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
h1 {
    display: flex; inline-size: 100%;
    margin: 0;
    padding: 0;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline;
    margin: 0 100px 0 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    font-size: 3em;
}
.box {
    display: flex;
    gap: 20px; 
}
.section {
    flex: 1; /* Equal width sections */
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
body {
    background-color: #eff373;
}